*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, blue 0%,purple 50%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    gap: 20px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
main{
    text-align: center;
}
main h2{
    margin-top: 5px;

}
main p{
    color: dimgray;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    line-height: 1.6;

}

footer{
    margin: 10px;
}
footer a{
    text-decoration: none;
    color:blue;
    border: 2px solid blue;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease;
}
footer a:hover{
    transform: scale(1.15);
    background-color: blue;
    color:white;
}

